#judul{
	color: black;
}
#subjudul{
	color: black;
}
.select{
	color: #42210b;
	font-family: Copperplate Gothic Bold;
}
h2{
	color: black;
	font-family: Copperplate Gothic Bold;
}
h3{
	color: #42210b;
	font-family: Times New Roman;
}
.lanjutan{
	color: #603813;
}
p{
	color: #603813;
}
.about{
	color: #603813;
}
#end{
	color: #42210b;
}